@{ 
    var currentUrl = Request.Url.AbsolutePath;  // 获取当前页面的 URL
}
@using Telemedicine.Resources;

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET 應用程式</title>
    <!-- 引入 CSS -->
    @Styles.Render("~/Content/css")

    <link href="~/Content/custom.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />

    <!-- 引用 Select2 样式 -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />

    @Scripts.Render("~/bundles/modernizr")
    <!--按鈕樣式 -->
    <style>

        .btn-edit:hover {
            background-color: #ffcc80; /* 亮橙色 */
            border-color: #ffb74d; /* 邊框顏色 */
            color: white; /* 字體顏色 */
            box-shadow: 0 4px 12px 0 rgba(255, 165, 0, 0.4); /* 添加陰影 */
        }

        .btn-delete:hover {
            background-color: #ff6666; /* 亮红色 */
            border-color: #ff4d4d; /* 邊框顏色 */
            color: white; /* 字體顏色 */
            box-shadow: 0 4px 12px 0 rgba(255, 0, 0, 0.4); /* 添加陰影 */
        }

        .btn-detail:hover {
            background-color: #80d4ff; /* 亮藍色 */
            border-color: #4dafff; /* 邊框顏色 */
            color: white; /* 字體顏色 */
            box-shadow: 0 4px 12px 0 rgba(0, 191, 255, 0.4); /* 添加陰影 */
        }

        .btn {
            transition: all 0.3s ease-in-out; /* 平滑過渡效果 */
        }
    </style>
    <!--導覽條樣式-->
    <style>
        /* nav style */
        .navbar-inverse {
            background: linear-gradient(to right, #333333, #444444); /* 漸變背景 */
            border: none; /* 去邊框 */
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* 添加陰影 */
        }

            /* 導覽條<a>鏈接樣式 */
            .navbar-inverse .nav > li > a {
                color: white; /* 鏈接文字顏色 */
                font-weight: bold; /* 字體加粗 */
                transition: color 0.3s ease; /* 平滑過渡 */
            }

                /* 懸停效果 */
                .navbar-inverse .nav > li > a:hover {
                    color: #ffd700; /* 懸停的颜色 */
                    text-decoration: none; /* 去掉下劃線 */
                }

        /* 登出按鈕樣式 */
        .btn-link {
            color: white; /* 確保按鈕顏色一致 */
            text-decoration: none; /* 去掉下劃線 */
            transition: color 0.3s ease; /* 平滑過渡 */
        }

            .btn-link:hover {
                color: #ffd700; /* 懸停的颜色 */
            }

        /* 導航條把元素推到右邊 */
        .navbar-right {
            float: right;
        }
    </style>
    <style>
        .vh-100 {
            height: 100vh;
        }

        .d-flex {
            display: flex;
        }

        .justify-content-center {
            justify-content: center; /* 水平居中 */
        }

        .align-items-center {
            align-items: center; /* 垂直居中 */
        }

        .text-center {
            text-align: center;
        }

        .btn-info {
            background-color: #74ebd5;
            border: none;
            color: white;
        }

        .link-info {
            color: white;
            text-decoration: underline;
        }

            .link-info:hover {
                color: #ACB6E5;
            }
    </style>

    <!--切換語言-->
    <style>
        .hidden {
            display: none; /* 元素隐藏 */
        }
    </style>
    <!--Datatables響應式-->
    <style>
        /* 确保 DataTables 在小屏幕上适应 */
        .table-responsive {
            overflow-x: auto;
        }

        /* 调整 DataTables 的样式以适应响应式设计 */
        table.dataTable {
            width: 100%;
            border-collapse: collapse;
        }
            /* 调整表头和表格单元格的样式 */
            table.dataTable th, table.dataTable td {
                white-space: nowrap; /* 防止内容换行 */
                text-align: left; /* 保持左对齐 */
            }
    </style>
    <!--Datatables新數據提示-->
    <style>
        .updated-badge {
            background-color: #28a745;
            color: white;
            padding: 2px 5px;
            border-radius: 5px;
        }
    </style>



</head>
<body>


    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(@Strings.TelemedicineRecordsSystem, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Session["User"] != null) // 用户已登入
                    {
                        <li>@Html.ActionLink("首頁", "Index", "Home")</li>
                        <li>@Html.ActionLink("病歷紀錄", "Index", "MedicalRecords")</li>
                        <li>@Html.ActionLink("病患", "Index", "Patient")</li>
                        <li>@Html.ActionLink("醫療人員", "Index", "Doctor")</li>
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <!-- 使用 navbar-right 將按鈕推到右側 -->
                    @if (Session["User"] != null) // 用户已登入
                    {
                        <li style="color: white; margin-top: 15px;">
                            Hello!! @Session["User"]
                        </li>
                        <li>@Html.ActionLink("Logout", "Logout", "Account", new { area = "" }, new { @class = "btn btn-link" })</li>
                        // 登出按钮
                    }
                    else // 用户未登入
                    {
                        <li>@Html.ActionLink("Login", "Login", "Account")</li>
                        // 登入按钮
                    }
                </ul>
                <!-- 语言切换的下拉菜单 -->
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <!-- 下拉菜单 -->
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Language <span class="caret"></span>  <!-- 下拉箭头 -->
                        </a>
                        <ul class="dropdown-menu">
                            <!-- 下拉菜单内容 -->
                            <li>
                                <a href="@Url.Action("SetLanguage", "Language", new { lang = "en", returnUrl = currentUrl })">English</a>
                            </li>
                            <li>
                                <a href="@Url.Action("SetLanguage", "Language", new { lang = "zh", returnUrl = currentUrl })">中文</a>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>
        </div>
    </div>

    <div>
        <!-- 高度佔滿 -->
        <div class="d-flex justify-content-center align-items-center">

            @Html.Partial("_LoadingAnimation") <!-- 引用 PartialView -->
            <!-- 内容居中 -->
            <!-- 中心内容 -->
            @RenderBody()
        </div>
    </div>
    <hr />
    <!-- 頁尾 -->
    <footer class="footer" style="position: fixed; bottom: 0; /* 位于页面底部 */ left: 0; /* 从左到右 */ width: 100%; /* 宽度占满 */ background-color: #333333; color: #ffffff; padding: 3px 0; /* 确保在其他内容之上 * background-color: #333333; color: #ffffff; padding: 20px 0;">
        <div class="container">
            <div class="row justify-content-between">
                <!-- 使用 justify-content-between 平均分布 -->
                <!-- 左信息 -->

                <div class="col-md-4 text-left">
                    <p>&copy; @DateTime.Now.Year - 病歷管理系統</p>
                </div>
                <!-- 右信息 -->
                <div class="col-md-7 text-right">
                    <!-- 靠右對齊 -->
                    <p>
                        <strong>如果使用上有問題，請聯絡</strong><br /> 
                        E-mail: <a href="mailto:femhf0063@femh.org.tw" style="color: #ffffff;">femhf0063@femh.org.tw</a><br />
                        電話: <a href="" style="color: #ffffff;">分機1867</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <script>
        window.addEventListener("beforeunload", function () {
            $('#loadingAnimation').show(); // 页面即将离开时显示加载动画
        });
    </script>

    @Scripts.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
